
@font-face {
    font-family: bridezilla;
    src: url(assets/fonts/Piedra-Regular.ttf);
}
.picrow{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: stretch;
    /* margin-top: 100px; */

}
.flower .shoes .cake{
    flex:auto;
    flex-shrink: 1;
    flex-wrap: wrap;


}
.player {
    display: flex;
    justify-content: center;
}

.game-bg-wrapper {
    /* margin-top: 90px; */
    display: flex;
    justify-content: center;
}
.playerimg {
    display: flex;
}

.bride1 {
    /* position: absolute;
    margin-left: -500px; */
    padding: 30px;

}

.bride2{
    transform: scaleX(-1);
    padding: 30px;

}

.headerbrides {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

body.border{
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    color: black;
    background-color: #F9C4CF;
    border: 20px solid #ff7492;
    
}

body.split{
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    color: black;
    background: linear-gradient(90deg, #ff7492 50%, #F9C4CF 0, #F9C4CF 100%);
}

img {
    max-width: 100%;
   height: auto;
   /* object-fit: cover; */
}

main {
    padding: 40px;
}

p {
    font-size: 20px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
}


.header-title {
padding: 40px; 
}

.nav-container {
    display: flex;
    gap: 30px;
}

.nav-btn {
    font-size: 25px;
    color: black;
    text-decoration: none;
}

.btn:hover {
    color: pink;
}

.current-page {
    font-weight: bold;
}

/* HOME */
.home-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: center;
    gap: 30px;
}

.home-header {
    display: flex;
    justify-content: center;
    /* text-align: center; */
    margin-bottom: 50px;
}

.home-roles-text {
    margin-top: 50px;
}

.role-title {

font-family: bridezilla}

.home-prof-img {
    margin-top: -40px;
}

/* ABOUT */

.about-header {
    text-align: center;
    margin-bottom: 50px;
}

.about-content-row {
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
}

/* CONTACT */

.contact-info {
    font-size: 25px;
    text-align: center;
}

.game-body {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    gap: 100px;

    color: rgb(0, 0, 0)



}

.how-to, .game-play{
    padding: 40px
}


